/*apply border to all div delete this after design is done*/
div  {
    border:1px solid #000000;
    padding: 5px;
    margin: 5px;
    
}

.rubrique a {
    margin: 8px;
    
        
}
.col img {
    width: 400px;
}

h6 span {
    color: #FF0000;
}

